:root {
  --first-color: #87b5f1;
  --second-color: #5112aaa3;
  --third-color: #ffffff;
  --forth-color: rgba(115, 0, 255, 0.866);
}
.ls-remove {
  display: none;
}
.head1 {
  display: none;
}
.error {
  margin-bottom: 0 !important;
  font-size: 14px;
  color: rgba(221, 78, 78, 0.908);
}
